.searchInput{
    @apply pl-4 border-2 border-blue-400 outline-none;
    width: 60vh;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: "Roboto-light", sans-serif;;
    font-size: 20px;
}

.searchButton{
    @apply w-16 bg-blue-500 p-1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.searchImage {
    position: relative !important;
}